absl-py==0.8.1
aliyun-python-sdk-core-v3==2.13.11
altgraph==0.16.1
aniso8601==8.0.0
astor==0.8.0
attrs==19.3.0
Automat==0.8.0
Babel==2.8.0
beautifulsoup4==4.8.1
blinker==1.4
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
Django==2.2.7
Faker==4.0.2
Flask==1.1.1
Flask-Avatars==0.2.2
Flask-Babel==1.0.0
Flask-Cors==3.0.8
Flask-Login==0.5.0
flask-redis==0.4.0
Flask-RESTful==0.3.8
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.1
Flask-WhooshAlchemy==0.56
flask-whooshee==0.7.0
Flask-WTF==0.14.2
future==0.18.2
gast==0.2.2
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
MyQR==2.3.1
mysql-connector-python==8.0.17
mysqlclient==1.4.6
numpy==1.17.3
oauthlib==3.1.0
opt-einsum==3.1.0
panda==0.3.1
pandas==0.25.3
parsel==1.5.2
pefile==2019.4.18
Pillow==6.2.1
Protego==0.1.15
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyInstaller==3.5
pyOpenSSL==19.0.0
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==12.7.0
pytesseract==0.3.1
python-dateutil==2.8.1
python-dotenv==0.12.0
python-engineio==3.12.1
python-socketio==4.5.1
pytz==2019.3
pywin32-ctypes==0.2.0
queuelib==1.5.0
redis==3.4.1
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.21.3
scipy==1.3.2
Scrapy==1.8.0
selenium==3.141.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
sqlparse==0.3.0
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
text-unidecode==1.3
Twisted==19.7.0
urllib3==1.25.6
uuid==1.30
w3lib==1.21.0
websocket-client==0.57.0
Werkzeug==0.16.0
Whoosh==2.7.4
wrapt==1.11.2
WTForms==2.2.1
zope.interface==4.6.0
