<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>test</h3></br>
    connect:<div id="test"></div>
    message:<div id="message"></div>

    <button onclick="socket.emit('new message', 1)">new message</button>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
    namespace='/'
    var socket = io.connect('http://127.0.0.1:80');

    socket.on('connect', function() {
    document.getElementById('test').innerHTML='succeed'
    });

    // socket.emit('new message','23333')
    
    socket.on('new message', function(res) {
    document.getElementById('message').innerHTML=res['data']
    });
</script>
</body>
</html>